@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-x-hidden;
}

*,
*::before,
*::after {
  @apply box-border;
  @apply m-0;
  @apply p-0;
  @apply font-display;
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
  @apply motion-reduce:transition-none;
  @apply motion-reduce:hover:transform-none;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @apply transition-all;
  @apply ease-in-out;
  @apply duration-300;
}

body {
  @apply bg-white;
}

header a:not(.router-link-exact-active) span.nav {
  @apply opacity-50;
}

header a.router-link-exact-active span.nav {
  @apply decoration-solid decoration-from-font underline underline-offset-2;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply leading-tight;
  @apply tracking-tight;
  @apply mb-4;
}

@layer components {
  .header-shadow {
    @apply relative !p-6;
    @apply bg-black !text-white;
    @apply w-max;
    @apply !text-2xl !font-normal;
  }

  .header-shadow::before {
    content: '';

    @apply absolute w-full h-full -top-3 -left-3.5 -z-10;
    @apply bg-cover;
  }

  .header-shadow-after::after {
    content: '';

    @apply absolute w-full h-full top-0 right-0 z-10;
    @apply bg-cover;
  }
}

.index-page.markdown-content h1 {
  @apply header-shadow header-shadow-after;
  @apply before:bg-sky-400;
  @apply after:bg-[url('/img/header-gradient.svg')];
  @apply tracking-wide;
}

.primary-header,
.blog-page.markdown-content h1 {
  @apply header-shadow;
  @apply before:bg-red-400;
  @apply self-center;
  @apply w-max;
  @apply bg-black !text-white;
  @apply uppercase !text-base sm:!text-2xl tracking-[.3rem];
}
